<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Hend/Z2dataTasks">
                <classes>
                    <class name="Task1"/>
                    <class name="Task2"/>
                    <class name="Task3"/>
                    <class name="Task4"/>
                </classes>
            </test>
        </suite>
